---
layout: rails
title: 관점, 생각
author: Suhan Lee
permalink: /think/
---
<section class="post-list">
    <div class="container">
        <h1 class="page-heading">Posts</h1>
        <ul>
            {% for post in site.categories.think %}
            <article class="post-item">

          <span class="post-time">
            <time>{{ post.date | date: '%B %d, %Y' }} <strong> - </strong></time>
          </span>
                <span class="post-name">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <strong> - </strong>
          </span>
                <p class="post-stub">{{ post.content | strip_html | truncatewords: 20 }}</p>
                <a href="{{ post.url | prepend: site.baseurl}}"> Read More </a>
            </article>

            <!-- hr -->
            {% endfor %}
        </ul>
        <!-- p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p -->
    </div>
</section>

{% include pagination.html %}
