<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100italic,300italic,300' rel='stylesheet' type='text/css'>

	<link href="http://fonts.googleapis.com/earlyaccess/{{ site.heading_font }}.css">

	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/fontello-embedded.css">

	<!-- google adsense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1904700171638621",
            enable_page_level_ads: true
        });
	</script>
	
</head>
<body>
	<div id="wrapper">
		<div id="main">
			<nav class="nav">
				<div class="container">
		  			<a href="/">
						<h1 style="font-family: {{ header_font }}" class="logo">
							{{ site.title }}
						</h1>
					</a>
					<br />
					<ul class="navlist">
						<li>
							<a href="/react">
								react
							</a>
						</li>
						<li>
							<a href="/rails-etc">
								rails-etc
							</a>
						</li>
						<li>
							<a href="/rails-guide">
								rails-guide
							</a>
						</li>
						<li>
							<a href="/week_in_rails">
								The week in rails
							</a>
						</li>
						<li>
							<a href="/think">
								think
							</a>
						</li>&nbsp;
					</ul>
		  		</div>
			</nav>
			{{ content }}
		</div>
		<div id="footer">
			{% include footer.html %}
		</div>
	</div>
</body>
</html>
